// Grid system
//
// Generate semantic grid columns with these mixins.


@mixin col($_col, $_coltotal:12){
  display: inline-block;
  width: (100%/$_coltotal)*$_col;
  text-align: center;
  font-size: initial;
}
